.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 70px;
}

.App .Tooltip-form-container {
display: flex;
width: 862.283px;
height: 612px;
flex-direction: column;
justify-content: center;
align-items: center;
border-radius: 23.395px;
background: var(--grey-200, #F5F5F5);

  
}

.App .Mobile-view-container {
  width: 307.402px;
  height: 631.388px;
  display: flex;
  justify-content: center;
  position: relative;
  flex-shrink: 0;
  border-radius: 28.864px;
  background: #2C2C2C;
  box-shadow: -1.6781489849090576px 0px 4.027557849884033px -2.517223834991455px #212121 inset, 0px -0.8390744924545288px 3.3562979698181152px 0px #212121 inset;
}

.App .Mobile-view-container .Mobiile-view-wrapper {
  width: 280.115px;
  height: 585px;
  flex-shrink: 0;
  background: red;
  position: absolute;
  background: #e1e1e1;
  top: 21px;
}


.App .Btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  height: 180px;
}

.App .Tooltip-input {
  display: flex;
  width: 100%;
  height: 39px;
  padding: 0px 12px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 6px;
  border: 1px solid var(--color-border, rgba(0, 0, 0, 0.15));
  background: var(--color-bg-container, #FFF);
  margin: 8px 0;
}

.App .Tooltip-form-wrap {
  width: 550px;
}

.inputLabel {
  display: flex;
  width: 186.557px;
  height: 22px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: #000;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 112.5% */
}

.App .Tooltip-size-and-padding {
  display: flex;
  width: 573px;
  justify-content: space-between;
}

.text-size {
  width: 227px !important;
}


.Tooltip-setting.Tooltip-size-and-padding {
  flex-wrap: wrap;
}

select.select-input {
  /* background: yellowgreen; */
  width: 575px !important;
}

.Btn {
  display: flex;
  padding: 8px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 4px;
  background: #FFF;
  color: #000000;
  cursor: pointer;
  position: relative;
}


.App .Tooltip-label {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-weight: bold;
  color: #000;
  font-family: Barlow;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px
}
